<!-- wp:template-part {"slug":"header","theme":"aragondental","tagName":"div"} /-->

<!-- wp:pattern {"slug":"aragondental/hero"} /-->

<!-- wp:pattern {"slug":"aragondental/about"} /-->

<!-- wp:pattern {"slug":"aragondental/stats"} /-->

<!-- wp:pattern {"slug":"aragondental/services"} /-->

<!-- wp:pattern {"slug":"aragondental/how-it-works"} /-->

<!-- wp:pattern {"slug":"aragondental/team"} /-->

<!-- wp:pattern {"slug":"aragondental/testimonials"} /-->

<!-- wp:pattern {"slug":"aragondental/appointment"} /-->

<!-- wp:pattern {"slug":"aragondental/contact"} /-->

<!-- wp:template-part {"slug":"footer","theme":"aragondental","tagName":"div"} /-->
